html, body {
	background-color: #222;
	overflow-x: hidden;
	margin: 0;
	padding: 0;
	font-family: 'Share Tech Mono', monospace;
}

/* - - - GENERAL - - - */
h1, h2, h3, h4, h5, h6 {
	font-weight: 700;
	margin: 0;	
	padding: 0;
}

input:focus, button:focus {
	outline: 2px dotted #fff;
}

/* - - - NAVBAR - - -*/
.app-main-nav{
	width: auto;
	height: auto;
	background-color: #ffc107;
}

.app-main-nav h3 {
	margin: 0;
	padding: 0;
	text-transform: uppercase;
}

/* - - - TIME NOW SECTION - - - */
.section-time-now {
	width: 100%;
	height: auto;
	background-color: #563d7c;
	color: #fff;
	font-size: 18px;
	padding: 10px;
	box-sizing: border-box;
}

.section-time-now__heading {
	margin: 0;
	padding: 0;
}

/*APP MAIN WRAPPER*/
.app-main-wrapper {
	width: 100%;
	height: auto;
}

/*APP MAIN WRAPPER TIME NOW DIV*/
.app-main-wrapper__time-now {
	padding-left: 0px;
	padding-right: 0px;
}


/*APP MAIN WRAPPER HEADING DIV*/
.app-main-wrapper__heading {
	width: 100%;
	height: auto;
	background-color: #563d7c;
	color: #eee;
	font-size: 18px;	
	text-align: center;
	box-sizing: border-box;	
}

.app-main-wrapper__heading p {
	margin: 0;	
	padding: 10px;
	font-size: 18px;
	box-sizing: border-box;
}

/*QUAKE FEED DIV*/
.section-quake-feed {
	width: 100%;
	height: 400px;
	background-color: transparent;
	border: 5px solid #563d7c;
	color: #eee;
	font-size: 18px;	
	text-align: center;
	box-sizing: border-box;	
}






